TXT references missing the subseries numbers

Please restore the subseries numbers in rfc-ref.txt --
[https://www.rfc-editor.org/in-notes/rfc-ref.txt](https://www.rfc-editor.org/in-notes/rfc-ref.txt)
vs. the [old rfc-ref.txt](https://web.archive.org/web/20260410172113/www.rfc-editor.org/in-notes/rfc-ref.txt).

Examples:
RFC 2119 and RFC 8174 are missing "BCP 14,"
RFC 3986 is missing "STD 66,"
RFC 10027 is missing "BCP 247,"

Same issue in the individual ref files (linked to from the info page under 'Cite this RFC' as TXT), e.g.,
https://www.rfc-editor.org/refs/ref2119.txt
https://www.rfc-editor.org/refs/ref3986.txt
https://www.rfc-editor.org/refs/ref10027.txt

@alicerusso this should be fixed now. Please review

Looks good; thanks!