RFC preview works inconsistently

Hovering the mouse cursor over an RFC cite tag should display the preview of the RFC; however, this doesn't work for all cite tags. For example, in [Section 2.1 of RFC 9877](https://red.staging.rfc-editor.org/info/rfc9877/#name-media-type-for-a-geofeed-li), a preview appears for [RFC9632] and [RFC3629] but not for [RFC6480] or for [RFC6838]. Similarly, in [Section 1 of RFC 9883](https://red.staging.rfc-editor.org/info/rfc9883/#name-introduction), previews work for [RFC2986] and [RFC3647], but not [RFC5280] [RFC4211] [RFC6955] [RFC2986] or [RFC4211].

this appears to be working now